@media only screen and (max-width: 768px)
{
    /*header*/
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .conteiner-text{
        width: 100%;
        margin-bottom: 2rem;
    }
    header .conteiner-text .hero-top{
        margin-bottom: 1rem;
        width: 100%;
        display: block;
        font-size: 0.9rem;
        text-align: center;
        line-height: 1;
    }
    header .conteiner-text .hero-text{
        width: 100%;
        font-size: 2rem;
        line-height: 1.5;
        text-align: center;
    }
    /*Slides*/
    .main-conteiner #title{
        width: 100%;
        padding-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-conteiner #title h2{
        font-size: 2.5rem;
        color: #fff;
    }
    .main-conteiner .slide{
        width: 750px;
        height: 576px;
        border-radius: 0;
    }
    .main-conteiner .slides{
        width: 5120px;
    }
    .main-conteiner .depoimento img{
        width: 260px;
        height: 260px;
        border-radius: 50%;
        padding: 1rem;
    }
    .main-conteiner .depoimento{
        width: 1024px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    .main-conteiner .relato{
        font-size: 1rem;
        color: blueviolet;
        overflow-y: scroll;
    }
    .main-conteiner .balls{
        width: 750px;
        margin-top: 40px;
    }

    .main-conteiner #voltar{
        top: 186%;
        right:60%;
        
    }
    
    .main-conteiner #next{
        top: 186%;
        left: 57%;
        margin-left: .4rem;
    }
    

    /*endereço*/
    .conteiner-section .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .conteiner-section .content .local{
        width: 100%;
    }
    .conteiner-section .card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .conteiner-section .circle1,.circle2,.circle3{
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: linear-gradient(var(--corSecundaria), var(--corTerciaria));
    }
    .conteiner-section h1{
       margin-bottom: 3rem;
    }
    .conteiner-section .content p{
        font-size: 1.9rem;
    }
}

