@media only screen and (max-width: 768px)
{
    /*Slides*/
    .main-conteiner #title{
        width: 100%;
        padding-bottom: 1rem;
    }
    .main-conteiner #title h2{
        font-size: 5rem;
        color: #fff;
    }
    .main-conteiner .slide{
        width: 750px;
        height: 576px;
        border-radius: 0;
    }
    .main-conteiner .slides{
        width: 5120px;
    }
    .main-conteiner .depoimento img{
        width: 260px;
        height: 260px;
        border-radius: 50%;
        padding: 1rem;
    }
    .main-conteiner .depoimento{
        width: 1024px;
        display: flex;
        align-items: center;
    }
    .main-conteiner .balls{
        width: 750px;
        margin-top: 40px;
    }

    .main-conteiner #voltar{
        top: 186%;
        right:60%;
        
    }
    
    .main-conteiner #next{
        top: 186%;
        left: 57%;
        margin-left: .4rem;
    }
    

    /*endereço*/
    .conteiner-section .circle1,.circle2,.circle3{
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background: linear-gradient(var(--corSecundaria), var(--corTerciaria));
    }
}

